@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center mt-5">
    <div class="row">
        <div class="col-8">
            <input id="code-input" class="form-control mb-3 text-center" type="text" placeholder="Morse Codes / A-Z & 1-9 characters">

            <p id="translated">Hey Buddy</p>

            <button id="translated-btn" class="btn btn-primary mb-2" onclick="translator()">Translate</button>

            <p>Note: Separate characters with Pipe (|) and words with whitespace when you wanna translate a message from morse codes.</p>
            <p>Example: ....|.|.-..|.-..|---| .--|---|.-.|.-..|-..</p>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="~/images/International_Morse_Code.svg.png" />
        </div>
    </div>
</div>
